@import url(font-awesome.min.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body#homepage{
  max-width: 100%; 
  height: 100%;
  overflow-x: hidden;
  background-color: #FFC857;
}  

body#about-me{
  max-width: 100%; 
  overflow-x: hidden;
  background-color: #FFC857;
  height: 100vh;
}  

#terminal {
  font: bold 16px "Lato", arial, sans-serif;
    -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
   display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font: bold 16px "Lato", arial, sans-serif;
  padding-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

}

.header {
  padding: none;
}

/*===================Main page text animation=========================*/

.svg-inverted-mask {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mask__shape {
  fill: white;
}

.box-with-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Visible fill of text */
.text-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 35vw;
  padding-left: 100%;
  /*margin: auto;*/
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../images/nature-min.jpeg) 50% 50%/cover;
  /*animation-timing-function: ease-in-out;*/
  animation: filling 1.8s ease forwards;

}

@keyframes filling {
  from{
    background-position: center 15%;
  }
  to {
    background-position: center 95%;
  }
}

/* Fill of inverted mask */
.shape--fill {
  fill: #FFC857;

}

/* Transparent copy of text to keep
patterned text selectable */
.text--transparent {
  fill: transparent;
}

@media (min-aspect-ratio: 2 / 1) {
  .text-fill {
    padding-top: 70vh;
    padding-left: 190vh;
  }
}

#main-text {
  font-family: 'Shrikhand', cursive;
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 100;
  height: auto;
  width: auto;
}

.svg-defs {
  width: 0;
  height: 0;
}

/*=================TILES============================*/

  .tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: -2.5em 0 0 -2.5em;
  }

    .tiles article {
      -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease;
      position: relative;
      width: calc(33.33333% - 2.5em);
      margin: 2.5em 0 0 2.5em;
    }

      .tiles article > .image {
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        position: relative;
        display: block;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
      }

        .tiles article > .image img {
          display: block;
          width: 100%;
        }

        .tiles article > .image:before {
          -moz-pointer-events: none;
          -webkit-pointer-events: none;
          -ms-pointer-events: none;
          pointer-events: none;
          -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
          -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
          -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
          transition: background-color 0.5s ease, opacity 0.5s ease;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 1.0;
          z-index: 1;
          opacity: 0.8;
        }

        .tiles article > .image:after {
          -moz-pointer-events: none;
          -webkit-pointer-events: none;
          -ms-pointer-events: none;
          pointer-events: none;
          -moz-transition: opacity 0.5s ease;
          -webkit-transition: opacity 0.5s ease;
          -ms-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          opacity: 0.25;
          z-index: 2;
        }

      .tiles article > a {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
        -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
        -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
        transition: background-color 0.5s ease, transform 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1em;
        border-radius: 4px;
        border-bottom: 0;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        z-index: 3;
      }

        .tiles article > a > :last-child {
          margin: 0;
        }

        .tiles article > a:hover {
          color: #ffffff !important;
        }

        .tiles article > a h2 {
          margin: 0;
        }

        .tiles article > a .content {
          -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
          -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
          -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
          transition: max-height 0.5s ease, opacity 0.5s ease;
          width: 100%;
          max-height: 0;
          line-height: 1.5;
          margin-top: 0.35em;
          opacity: 0;
        }

          .tiles article > a .content > :last-child {
            margin-bottom: 0;
          }

      .tiles article.style1 > .image:before {
        background-color: #f2849e;
      }

      .tiles article.style2 > .image:before {
        background-color: #7ecaf6;
      }

      .tiles article.style3 > .image:before {
        background-color: #7bd0c1;
      }

      .tiles article.style4 > .image:before {
        background-color: #c75b9b;
      }

      .tiles article.style5 > .image:before {
        background-color: #ae85ca;
      }

      .tiles article.style6 > .image:before {
        background-color: #8499e7;
      }

      body:not(.is-touch) .tiles article:hover > .image {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }

        body:not(.is-touch) .tiles article:hover > .image:before {
          background-color: #333333;
          opacity: 0.35;
        }

        body:not(.is-touch) .tiles article:hover > .image:after {
          opacity: 0;
        }

      body:not(.is-touch) .tiles article:hover .content {
        max-height: 15em;
        opacity: 1;
      }

    * + .tiles {
      margin-top: 2em;
    }

    body.is-loading .tiles article {
      -moz-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
    }

    body.is-touch .tiles article .content {
      max-height: 15em;
      opacity: 1;
    }

    @media screen and (max-width: 1280px) {

      .tiles {
        margin: -1.25em 0 0 -1.25em;
      }

        .tiles article {
          width: calc(33.33333% - 1.25em);
          margin: 1.25em 0 0 1.25em;
        }

    }

    @media screen and (max-width: 980px) {

      .tiles {
        margin: -2.5em 0 0 -2.5em;
      }

        .tiles article {
          width: calc(50% - 2.5em);
          margin: 2.5em 0 0 2.5em;
        }

    }

    @media screen and (max-width: 736px) {

      .tiles {
        margin: -1.25em 0 0 -1.25em;
      }

        .tiles article {
          width: calc(50% - 1.25em);
          margin: 1.25em 0 0 1.25em;
        }

          .tiles article:hover > .image {
            -moz-transform: scale(1.0);
            -webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
            transform: scale(1.0);
          }

    }

    @media screen and (max-width: 480px) {

      .tiles {
        margin: 0;
      }

        .tiles article {
          width: 100%;
          margin: 1.25em 0 0 0;
        }

    }


/*====================================================*/



ul.icons li {
  float: left;
  text-decoration: none;
  border-bottom: none;
}

ul.icons li a {
  display: inline-block;
    color: #30332E;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

html.non-touch ul.icons li a:hover {
  color: #000;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  /*font-size : 32px;*/
}

ul.icons {
  margin: 0;
  padding: 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12%;
  text-align: center;
  left: 50%;
  transform: translateX(-116px);
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul#myTopnavHome.topnav {
    z-index: 1;
    position: relative;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    /*position : absolute;*/
    display: inline-block;
    color: #30332E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
    font-family: 'Shrikhand', cursive;
    font-weight: bold;

}

/* Change background color of links on hover */
html.non-touch ul.topnav li a:hover {
  color: #000;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none;
}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}


.window {
  background: #ddd;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 880px;
}

.title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0.75em;
}

.button-icons {
  padding: 0.75em;
  position: absolute;
}
.button-icons span {
  background: #f4c025;
}
.button-icons:before {
  content: "";
  background: #e4514f;
}
.button-icons:after {
  content: "";
  background: #3ec930;
}

.button-icons span, .button-icons:before, .button-icons:after {
  display: inline-block;
  float: left;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.5em;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

pre {
  background: #222;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  overflow: scroll;
  padding: 2.5em;
  width: 100%;
  -webkit-font-smoothing: antialiased;

}
pre code {
  font: bold 1em/1.75 "Source Code Pro", monospace;
}
pre code:after {
  -webkit-animation: blink 0.9s infinite;
          animation: blink 0.9s infinite;
  display: block;
  opacity: 1;
  content: "▋";
}

.token.punctuation {
  color: #999;
}

.token.boolean,
.token.number {
  color: #8130c9;
}

.token.keyword {
  color: #09a3d5;
}

.token.operator {
  color: #e4514f;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media(max-width: 800px) {
  pre {
    font-size: 10px;
  }

  .window {
    width: 70%;

  }
}



